
body{
  overflow-x: hidden; 
}
*{
  max-width: 100%;
  box-sizing: border-box;
}
#website{
  margin-left: 2%;
  margin-right: 2%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}
#name-role{
  margin-left: 20px;
}


button:hover {
  cursor: pointer;
}

.social img{
  max-height: 70px ;
  width: auto ;
}
.project-card a button{
  margin-top: 15px;
  background-color: #4d4d4d;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.project-card a button:hover {
  background-color:  rgb(49, 170, 104);;
}


.container {
  display: flex;
  overflow-wrap: break-word; 
    word-wrap: break-word; 
    overflow: hidden; 
    max-width: 100%; 
    width: 100%; 
}

.column {
  flex: 1;
  padding: 10px;
  width: auto;
}

.project-card {
  background-color: #353535;
  border-radius: 10px;
  overflow: hidden;
  width: 400px;
  box-shadow: 0 4px 8px  rgb(49, 170, 104);
  height: auto;
}


.hero-image {
  width: 100%;
  height: 400px;
}

.image-full {
  width: 100%;
  height: 100%;
  display: block;
}


.project-content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #353535;
  padding: 20px;
  text-align: center;
  
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: safe;
  gap: 10px;
}

.project-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}



.skill-btn {
  background-color: #922aac;
  border: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}





.about{
  color: #ffffff;
  padding: 20px;
  border-right: 2px solid rgb(49, 170, 104);
  width: 50%; 
  text-align: left; 
  line-height: 1.5;
}




header h1 {
  font-size: xx-large;
}
header  p {
  font-size: x-large;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(49, 170, 104);
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }

  nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
  }

  section {
    padding: 2em;
  }



  .circle-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

  .circle-card{
    width: 100%;
    padding: 12px;
    background-color: rgb(232, 185, 157);
    border-radius: 8px;
    display: flex;
    border: 1px solid #ddd;
    align-items: flex-start;
    justify-content: center;
    color: rgb(52, 52, 52);
  }



.language-button {

    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color:  rgb(49, 170, 104); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.scroll{
  height: 110px;
}

  .top{
    width: 100%; 
    overflow: hidden; 
    position: relative;
  }



  .heightss{
    height: 60%;
    display: block;
  }
  


  footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
  }


  .info{
    display: flex;
    font-size: large;
     background-color: #444;
     margin: 50px 0;
     border-radius: 5%;
     height: auto;
     width: auto;
     opacity: 0;
     transform: translateX(100%);
     transition: transform 1s ease-out, opacity 1s ease-out;
     overflow-wrap: break-word; /* Ensures long words break within the div */
      word-wrap: break-word; /* Support for older browsers */
      overflow: hidden; 
  
  }
.sections{

  display: flex;
  font-size: large;
   background-color: #444;
   margin: 50px 0;
   border-radius: 5%;
   height: auto;
   width: auto;
   overflow-wrap: break-word; /* Ensures long words break within the div */
    word-wrap: break-word; /* Support for older browsers */
    overflow: hidden; 

}

.half-a-border-on-top {
  border-top: 1px solid;
  border-left:  1px solid;
  border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
}

.contact{
  margin-left: 2%;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
}
  .carousel {

    width: 100%;
  }



.carousel-nav {
  display: flex;
  justify-content: space-around;
    text-align: center;
    margin-bottom: 1rem;
}

.carousel-nav label {
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

.carousel input {
    display: none;
}

.carousel-content {
  color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 1400px;
}
.contents{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    transition: left 0.5s;
    opacity: 0;
}

#games:checked ~ .carousel-content #games-item,
#websites:checked ~ .carousel-content #websites-item,
#mobile-apps:checked ~ .carousel-content #mobile-apps-item {
    left: 0;
    opacity: 1;
}

#games:checked ~ .carousel-nav label[for="games"],
#websites:checked ~ .carousel-nav label[for="websites"],
#mobile-apps:checked ~ .carousel-nav label[for="mobile-apps"] {
    background-color:  rgb(49, 170, 104);
    color: #fff;
}


 

.widess{
display: block;
}

@media screen and (max-width: 1334px){

  .contents{
    flex-wrap: wrap;
    width: 95%;
  }
  .carousel-content {
    height: 1500px;
    
  }
}
@media screen and (max-width: 983px) {
  .carousel-content {
    height: 2100px;
    
  }
}
@media screen and (max-width: 768px) {
  .container {
      flex-direction: column; 
  }
  .typing-container {
    text-wrap: wrap;
  }  
  .sections{
    font-size: small;
  }
  .info{
    font-size: small;
  }
  .carousel-nav {
    flex-wrap: wrap;
    gap: 20px;
  }

  .column {
      min-width: 100%; 
  }
  .contents{
    flex-direction: column;
    width: 95%;
  }

  .project-card img{
    display: block;
    
  }
  .heightss{
    height: 40%;
  }
  
.carousel-content {
  height: 2200px;
}
.project-card {
  font-size: small;
  height: 70%;
}
#flip{
  flex-direction: column;
}
.about{
  width: 100%;
  border-right: 0px solid rgb(49, 170, 104);
  border-bottom: 2px solid rgb(49, 170, 104);
}


}


