
body{
  overflow-x: hidden; /* Hide scrollbars */
}
*{
  max-width: 100%;
  box-sizing: border-box;
}
#website{
  margin-left: 2%;
  margin-right: 2%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    width: 100%;
}
#name-role{
  margin-left: 20px;
}


button:hover {
  cursor: pointer;
}

.social img{
  max-height: 70px ;
  width: auto ;
}
.project-card a button{
  margin-top: 15px;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(49, 170, 104);
  color: white;
}


.container {
  display: flex;
  overflow-wrap: break-word; /* Ensures long words break within the div */
    word-wrap: break-word; /* Support for older browsers */
    overflow: hidden; 
    max-width: 100%; 
    width: 100%; 
}

.column {
  flex: 1;
  padding: 10px;
  width: auto;
}

.skills {
  margin-bottom: 10px;
}


.about{
  color: #ffffff;
  padding: 20px;
  border-right: 2px solid rgb(49, 170, 104);
  width: 50%; 
  text-align: left; 
  line-height: 1.5;
}




header h1 {
  font-size: xx-large;
}
header  p {
  font-size: x-large;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(49, 170, 104);
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }

  nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
  }

  section {
    padding: 2em;
  }



  .circle-img {
    width: 150px; /* Set the desired width */
    height: 150px; /* Set the height equal to the width to maintain a perfect circle */
    border-radius: 50%; /* This makes the image circular */
    overflow: hidden; /* Ensures the image fits within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #333; /* Optional: Add a border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire circle */
}

  .circle-card{
    width: 100%;
    padding: 12px;
    background-color: rgb(232, 185, 157);
    border-radius: 8px;
    display: flex;
    border: 1px solid #ddd;
    align-items: flex-start;
    justify-content: center;
    color: rgb(52, 52, 52);
  }



.language-button {

    margin: 10px 10px 10px 10px;
    padding: 10px;
    background-color:  rgb(49, 170, 104); 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

  .top{
    width: 100%; /* Adjust as needed */
    overflow: hidden; /* Hide overflow to keep scrolling effect within the div */
    position: relative;
  }

  .project-card {
    box-sizing: border-box;
    color: white;
    background-color: 444;
    border: 4px solid  rgb(49, 170, 104);
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    max-width: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: large;
    height: auto;
  }


  .heightss{
    height: 60%;
    display: block;
  }
  


  footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
  }

  .scroll{
    
  }
  .info{
    display: flex;
    font-size: large;
     background-color: #444;
     margin: 50px 0;
     border-radius: 5%;
     height: auto;
     width: auto;
     opacity: 0;
     transform: translateX(100%);
     transition: transform 1s ease-out, opacity 1s ease-out;
     overflow-wrap: break-word; /* Ensures long words break within the div */
      word-wrap: break-word; /* Support for older browsers */
      overflow: hidden; 
  
  }
.sections{
  
  display: flex;
  font-size: large;
   background-color: #444;
   margin: 50px 0;
   border-radius: 5%;
   height: auto;
   width: auto;
   opacity: 0;
   transform: translateX(100%);
   transition: transform 1s ease-out, opacity 1s ease-out;
   overflow-wrap: break-word; /* Ensures long words break within the div */
    word-wrap: break-word; /* Support for older browsers */
    overflow: hidden; 

}
.sections.visible {
  transform: translateX(0);
  opacity: 1;
}

.info.visible {
  transform: translateX(0);
  opacity: 1;
}

.half-a-border-on-top {
  border-top: 1px solid;
  border-left:  1px solid;
  border-image: linear-gradient(to right, #000 50%, transparent 50%) 100% 1;
}

.contact{
  margin-left: 2%;
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
}
  .carousel {

    width: 100%;
  }



.carousel-nav {
  display: flex;
  justify-content: space-around;
    text-align: center;
    margin-bottom: 1rem;
}

.carousel-nav label {
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

.carousel input {
    display: none;
}

.carousel-content {
  color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 1200px;
}
.contents{
  display: flex;
  width: 100%;
  height: 700px;
}
.carousel-item {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    transition: left 0.5s;
    opacity: 0;
}

#games:checked ~ .carousel-content #games-item,
#websites:checked ~ .carousel-content #websites-item,
#mobile-apps:checked ~ .carousel-content #mobile-apps-item {
    left: 0;
    opacity: 1;
}

#games:checked ~ .carousel-nav label[for="games"],
#websites:checked ~ .carousel-nav label[for="websites"],
#mobile-apps:checked ~ .carousel-nav label[for="mobile-apps"] {
    background-color:  rgb(49, 170, 104);
    color: #fff;
}



.typing-container {
  font-size: 3.5em;
  
  white-space: nowrap;
  overflow: hidden;
  width: auto; /* Adjusted width to match the length of the text */
  animation: typing 6s steps(38) 1s 1 normal both, blink 0.75s step-end infinite;
  color: white;
}

@keyframes typing {
  from { width: 0; }
  to { width: 43ch; } /* Set to match the full length of the text */
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typing-text::before {
  content: "Hello! I'm Nitpreet Arneja, a junior developer";
}

.widess{
display: block;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column; /* Stack columns on top of each other on smaller screens */
  }
  .typing-container {
    text-wrap: wrap;
  }  
  .sections{
    font-size: small;
  }
  .info{
    font-size: small;
  }
  .carousel-nav {
    flex-wrap: wrap;
    gap: 20px;
  }

  .column {
      min-width: 100%; /* Columns will take full width on smaller screens */
  }
  .contents{
    flex-direction: column;
    width: 95%;
  }

  .project-card img{
    display: block;
    
  }
  .heightss{
    height: 40%;
  }
  
.carousel-content {
  height: 2000px;
}
.project-card {
  font-size: small;
  height: 70%;
}
#flip{
  flex-direction: column;
}
.about{
  width: 100%;
  border-right: 0px solid rgb(49, 170, 104);
  border-bottom: 2px solid rgb(49, 170, 104);
}

.project-card a button{
  margin-top: 10px;
  cursor: pointer;
  font-size: .8rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: rgb(49, 170, 104);
  color: white;
}
}


