#website{
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

header {
    background: url('../Images/background3.png') center/cover no-repeat; 
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.projects button{
  background-color: #A5C2A0; 
  border: 1px solid #fff;
  
  color: white;
  padding: 15px 32px;
  text-align: center;

  font-size: 16px;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.skills {
  margin-bottom: 10px;
}


.about{
  margin-left: 2%;
}

header h1 {
  font-size: xx-large;
}
header  p {
  font-size: x-large;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(202,203,192);
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
  }

  nav {
    background-color: #444;
    padding: 1em;
    text-align: center;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
  }

  section {
    padding: 2em;
  }

  .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .circle-card{
    width: 100%;
    padding: 12px;
    background-color: rgb(232, 185, 157);
    border-radius: 8px;
    display: flex;
    border: 1px solid #ddd;
    align-items: flex-start;
    justify-content: center;
    color: rgb(52, 52, 52);
  }


  .project-card {
    background-color: rgb(188, 202, 198);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin: 1em;
    max-width: 550px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .project-card img{

    width: 100%;
  }


  footer {
    background-color: #333;
    color: #000000;
    text-align: center;
    padding: 1em 0;
  }
